@if (id()) {
  <div class="cms-safe-area flex-center-between gap-4 pr-4 pt-4 sm:pl-4 [&>button]:py-1.5">
    @switch (view()) {
      @case ('mutation') {
        <h1 class="font-semibold">Update product</h1>
        <button class="button" type="button" (click)="redirectView('detail')">
          <ng-icon size="1.2rem" name="tablerListDetails" />
          Detail
        </button>
      }
      @default {
        <h1 class="font-semibold">Product detail</h1>
        <button class="button" type="button" (click)="redirectView('mutation')">
          <ng-icon size="1.2rem" name="tablerEdit" />
          Edit
        </button>
      }
    }
  </div>
} @else {
  <h1 class="cms-safe-area pr-4 pt-4 font-semibold sm:pl-4">Create product</h1>
}
<ng-container *ngComponentOutlet="loadView() | async; inputs: viewInputs()" />
