<div class="sm:bg-floating flex max-h-full flex-col gap-4 overflow-hidden">
  <div class="flex-center-between gap-4 bg-white p-4 dark:bg-inherit">
    <div class="flex-1">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div
          class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
        >
          <ng-icon name="tablerSearch" />
        </div>
        <input
          type="text"
          id="table-search"
          class="input w-full ps-10 sm:w-80"
          placeholder="Search for name"
        />
      </div>
    </div>

    <a routerLink="./mutation" class="button"><ng-icon size="1.2rem" name="tablerPlus" />Create</a>
  </div>
  <div class="h-full w-full overflow-auto">
    <table appTable class="w-full text-left text-sm rtl:text-right" [config]="tableConfig"></table>
  </div>
</div>

<ng-template #customStatus let-context>
  @if (context.value === 'active') {
    <span class="relative mx-auto flex size-3">
      <span
        class="absolute inline-flex size-full animate-ping rounded-full bg-emerald-400 opacity-75"
      ></span>
      <span class="relative inline-flex size-3 rounded-full bg-emerald-500"></span>
    </span>
  } @else {
    <span class="mx-auto block size-3 rounded-full bg-zinc-300"></span>
  }
</ng-template>

<ng-template #customAction let-context>
  <a [routerLink]="['./mutation', context.record.id]" class="text-sky-600 dark:text-sky-500">
    <ng-icon size="1.2rem" name="tablerEdit" />
  </a>
  <button
    class="text-rose-600 dark:text-rose-500"
    type="button"
    (click)="deleteProduct(context.record.id)"
  >
    <ng-icon size="1.2rem" name="tablerTrash" />
  </button>
</ng-template>
