<h1 class="cms-safe-area mb-4 font-semibold sm-only:mt-4">Product</h1>

<div class="sm:bg-floating flex max-h-full flex-col gap-4 overflow-hidden">
  <div class="flex-center-between gap-4 bg-white p-4 dark:bg-inherit">
    <form
      id="product-filter-form"
      class="flex flex-1 flex-wrap items-center gap-4 [&>div]:sm-only:w-full"
      [formGroup]="filterForm"
    >
      <div>
        <label for="table-search" class="sr-only mb-1">Search</label>
        <div class="relative">
          <div
            class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
          >
            <ng-icon name="tablerSearch" />
          </div>
          <input
            id="table-search"
            class="input w-full ps-10 sm:w-80"
            name="name"
            formControlName="name"
            type="text"
            placeholder="Search for name"
          />
        </div>
      </div>
      <div>
        <label for="table-cate-filter" class="sr-only">Category</label>
        <select class="input" name="categoryId" formControlName="categoryId">
          <option value="">All Categories</option>
          @for (category of categoriesQuery.data(); track category.id) {
            <option [value]="category.id">{{ category.name }}</option>
          }
        </select>
      </div>
    </form>

    <a routerLink="./mutation" class="button"><ng-icon size="1.2rem" name="tablerPlus" />Create</a>
  </div>
  <div class="relative h-full w-full overflow-auto">
    <app-loading-overlay [show]="productsQuery.isLoading()" />
    <table appTable class="w-full text-left text-sm rtl:text-right" [config]="tableConfig"></table>
  </div>
</div>

<ng-template #customStatus let-context>
  @if (context.value === 'active') {
    <span class="relative mx-auto flex size-3">
      <span
        class="absolute inline-flex size-full animate-ping rounded-full bg-emerald-400 opacity-75"
      ></span>
      <span class="relative inline-flex size-3 rounded-full bg-emerald-500"></span>
    </span>
  } @else {
    <span class="mx-auto block size-3 rounded-full bg-zinc-300"></span>
  }
</ng-template>

<ng-template #customAction let-context>
  <a
    [routerLink]="['./detail', context.record.id]"
    class="text-sky-600 dark:text-sky-500"
    title="Detail"
  >
    <ng-icon size="1.2rem" name="tablerListDetails" />
  </a>
  <a
    [routerLink]="['./mutation', context.record.id]"
    class="text-emerald-600 dark:text-emerald-500"
    title="Update"
  >
    <ng-icon size="1.2rem" name="tablerEdit" />
  </a>
  <button
    class="text-rose-600 dark:text-rose-500"
    title="Delete"
    type="button"
    (click)="deleteProduct(context.record.id)"
    [disabled]="isLoadingDeletions().has(context.record.id)"
  >
    @if (isLoadingDeletions().has(context.record.id)) {
      <ng-icon class="[&>svg]:animate-spin" size="1.2rem" name="tablerLoader2" />
    } @else {
      <ng-icon size="1.2rem" name="tablerTrash" />
    }
  </button>
</ng-template>
