<div
  #globalToast
  id="global-toast"
  class="popover-slide-y inset-auto right-4 top-4 flex w-80 items-center gap-2 rounded-md p-2 shadow-md"
  popover="manual"
>
  @if (toastData().type === 'error') {
    <ng-icon class="text-error" name="tablerExclamationCircle" size="1.5rem" />
  } @else {
    <ng-icon class="text-emerald-600" name="tablerCircleCheck" size="1.5rem" />
  }

  <p class="line-clamp-3 flex-1">{{ toastData().message }}</p>

  @if (toastData().hasCloseBtn) {
    <button class="ml-auto block p-1" popovertarget="global-toast" popovertargetaction="hide">
      <ng-icon name="tablerX" size="1.5rem" aria-hidden="true" />
      <span class="sr-only">Close</span>
    </button>
  }
</div>
