@if (showHeader) {
  <header
    class="bg-[linear-gradient(to_bottom,rgba(0,0,0,0.4)_0%,rgba(0,0,0,0.4)_100%),url('/header.webp')] bg-center p-4 text-center text-slate-200 sm:space-y-8 sm:py-8"
  >
    <h1 class="text-2xl font-bold sm:text-3xl">{{ activePageTitle }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum deserunt quibusdam facilis
      porro quis quasi iusto nesciunt nemo cumque iste aut, eius animi cupiditate doloremque
      voluptate? Obcaecati odit assumenda vel!
    </p>
  </header>
}
