<app-auth-layout>
  <div class="p-4 sm:p-6">
    <h2 class="text-center font-bold md:text-xl">Sign in to your account</h2>
    <form id="login-form" class="my-4 space-y-1 sm:my-6" (ngSubmit)="handleSubmit($event)">
      <div class="form-ctrl">
        <label for="username" class="mb-1 block">Username</label>
        <input
          id="username"
          class="input native-input-form"
          type="text"
          name="username"
          placeholder="Enter your username"
          minlength="3"
          required
        />
        <p class="error-msg text-error invisible mt-1 text-sm">
          Username must be at least 3 characters long
        </p>
      </div>
      <div class="form-ctrl">
        <label for="password" class="mb-1 block">Password</label>
        <input
          id="password"
          class="input native-input-form"
          type="password"
          name="password"
          placeholder="Enter your password"
          minlength="6"
          required
        />
        <p class="error-msg text-error invisible mt-1 text-sm">
          Password must be at least 6 characters long
        </p>
      </div>
    </form>

    <button type="submit" form="login-form" class="button w-full justify-center rounded-lg">
      Sign in
    </button>

    <p class="mt-4 text-sm font-light text-gray-500 dark:text-gray-400">
      Don't have an account yet?
      <a routerLink="/signup" class="link font-medium">Sign up</a>
    </p>
  </div>
</app-auth-layout>
