<div class="bg-floating relative mx-auto h-full max-w-screen-xl rounded-md">
  <app-loading-overlay [show]="productResponse().isLoading()" />
  <div class="grid gap-2 p-4 sm:grid-cols-2">
    <div><strong>Name:</strong> {{ product()?.name }}</div>
    <div><strong>Price:</strong> {{ product()?.price | customCurrency }}</div>
    <p>
      <strong>Category:</strong>
      <a
        class="text-blue-600 hover:text-blue-800"
        [routerLink]="['/', ROUTE_PATH.CMS, ROUTE_PATH.CATEGORY, 'detail', product()?.id]"
      >
        {{ product()?.categoryName }}
      </a>
    </p>
    <div>
      <strong>Status: </strong>
      <span class="font-bold capitalize" [appProductStatus]="product()?.status">{{
        product()?.status
      }}</span>
    </div>
    <div class="col-span-full"><strong>Description:</strong> {{ product()?.description }}</div>
  </div>
</div>
