<div
  class="[&>.link]:text-md [&>a]:flex [&>a]:items-center [&>a]:gap-2 [&>a]:py-2 [&_ng-icon]:text-xl"
>
  <div class="mb-2 px-2 py-1">
    <a
      class="font-handwriting text-2xl font-bold hover:drop-shadow-lg sm:text-4xl"
      routerLink="/cms"
    >
      Portal
    </a>
  </div>
  <a
    class="link"
    routerLink="/cms/product"
    routerLinkActive="font-bold [&_svg]:!stroke-2"
    ariaCurrentWhenActive="page"
  >
    <ng-icon name="tablerDevices" strokeWidth="1" /> Product
  </a>
  <a
    class="link"
    routerLink="/cms/category"
    routerLinkActive="font-bold [&_svg]:!stroke-2"
    ariaCurrentWhenActive="page"
  >
    <ng-icon name="tablerCategory2" strokeWidth="1" /> Category
  </a>
</div>
<div class="divide-y *:px-2">
  <div class="flex items-center gap-2">
    <ng-icon size="2rem" class="shrink-0" strokeWidth="1" name="tablerUserCircle" />
    <span class="truncate font-semibold">{{ username }}</span>
  </div>
  <div class="mt-2 pt-4">
    <button class="button-secondary" type="button" (click)="logout()">
      <ng-icon class="text-xl" name="tablerLogout2" /> Logout
    </button>
  </div>
</div>
